@font-face {
font-family: 'LibreFranklin';
  src: url(https://iperplexif.github.io/expert-enigma/LibreFranklin-VariableFont_wght.ttf);
} 

h1, h2,h3, h4, h5, h6, p, a, div {
  font-family: 'LibreFranklin';color:aliceblue;
}
